h3{
    color: skyblue;
    text-align: center;
}
h1{
    color: wheat;
    text-align: center;
}
hr{
    color: burlywood;
}
body{
    background-image: url('https://api.escateam.icu/pc/index.php?');
    background-repeat: no-repeat;
    background-size: cover;
}